a :hover {
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #343A40;
}

.hoverimage {
  display: block;
  width: 90%;
  height: auto;
}

.container {
  position: relative;
  width: 50%;
}

.container:hover .overlay {
  opacity: .8;
}

.hovertext {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.mintgreen {
  color: #9ef3d085;
}

.hvr-chg-delay {
  transition: all .9s ease;
  -webkit-transition: all .9s ease;
}

.white-hvr-link :hover {
  color: white;
}

#row-logos {
  
}